.web {
  width: 85%;
  max-width: 1000px;
  margin: 10vh auto 0 auto;
}

.web .heading {
  display: flex;
  font-size: 20px;
}

.web .front_font {
  position: relative;
}

.web .back_font {
  opacity: 0.5;
  position: absolute;
  transform: translateX(4.8rem);
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 35rem;
  height: auto;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card a:hover {
  color: blue;
}

.card .information {
  align-items: center;
}

.card-img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
  background-color: blue;
  margin-right: 2rem;
}

.card-title {
  font-size: 1.2rem;
}