.about {
  width: 85%;
  max-width: 1000px;
  margin: 10vh auto 0 auto;
}

.heading {
  display: flex;
  font-size: 20px;
}

.about .front_font {
  position: relative;
}

.about .back_font {
  opacity: 0.5;
  position: absolute;
  transform: translateX(10vh);
}


.contents {
  margin: 0 2vh;
}

.about_myHistory table{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.about_myHistory th {
  width: 10rem;
  background-color: #c0c0c0;
}

.about_myHistory tr {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.about_myHistory img {
  border-radius: 4px;
  height: 5rem;
  width: auto;
}