.header {
  width: 85%;
  height: 4rem;
  max-width: 1000px;
  padding-top: 0.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d3d3d3;
  writing-mode: horizontal-tb;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
}

.header .tab {
  flex: 1;
}

.header .tab img {
  height: 4rem;
  width: auto;
}

.header .banner {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header .banner img {
  height: 4rem;
  width:  auto;
  border-radius: 4px;
}

.header .access_links {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateX(2.7rem);
}


.header .access_links img {
  height: 2.7rem;
  width: auto;
}


.header .access_links a {
  transition: 0.15s;
}

.header .access_links a:hover {
  filter: brightness(0) saturate(100%) invert(6%) sepia(100%) saturate(6162%) hue-rotate(246deg) brightness(138%) contrast(142%);
}

.header a {
  color: black;
}

.header .tab a {
  transition: 0.2s;
}

.header .tab a:hover{
  color: blue;
}