.header {
  height: 7vh;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 1.5vh;
  border-bottom: 1px solid #d3d3d3;
  writing-mode: horizontal-tb;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}


.header .banner {
  height: 7vh;
  width:  auto;
  border-radius: 4px;
  margin: 0 auto;
}


.header .access_links {
  max-width: 85%;
  display: inline-block;
  position: fixed;
  right: 7.5%;
}


.header .access_links img {
  height: 4vh;
  width: auto;
  margin-left: 1vh;
}
