.contest {
  width: 85%;
  max-width: 1000px;
  margin: 7rem auto 0 auto;
}

.contest .heading {
  display: flex;
  font-size: 20px;
}

.contest .front_font {
  position: relative;
}

.contest .back_font {
  opacity: 0.5;
  position: absolute;
  transform: translateX(8.5rem);
}