.update {
  width: 85%;
  max-width: 1000px;
  margin: 10vh auto 0 auto;
}

.update .heading {
  display: flex;
  font-size: 20px;
}

.update .front_font {
  position: relative;
}

.update .back_font {
  opacity: 0.5;
  position: absolute;
  transform: translateX(3.3rem);
}
